body
    background #fafafa
    font-family Helvetica, Arial, sans-serif
    color #333
    margin 0


.menu li
    display inline-block

.app-host
    margin 50px

.chart-list
    text-align center

.thumb-block
    display inline-block
    margin 40px
    vertical-align top

    &.selected
        box-shadow 0 0 5px 2px rgba(0,0,0,0.5)

.thumb-block img
    display block
    width 150px
    height 100px

.widget-chart
    width 80%
    margin auto
